
$theme-background: url('https://www.toptal.com/designers/subtlepatterns/patterns/dark-honeycomb.png');

$space-1: 5px;
$space-2: 10px;
$space-3: 15px;
$space-4: 25px;
$space-5: 50px;
$space-6: 75px;

$font-size-1: 12px;
$font-size-2: 20px;

$letter-space-1: 1.2px;

$size-md: 1024px;
$size-sm: 768px;