@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import './assets/stylesheet/variables';


body {

  background: $theme-background;
  background-position-x: 0;
  animation: backgroundMove 25s linear infinite;
}

.user-wrapper {

  width: 90%;
  transform: translateX(-50%);
  left: 50%;
  background-color: #EFEFEF;  
  padding: $space-4;  
  font-family: 'Noto Sans', sans-serif;
  color: #666666;
  letter-spacing: $letter-space-1;
  border-radius: $space-3;
  position: relative;
  box-shadow: 0 0 $space-4 black;
  margin-top: $space-3;

  header {

    position: sticky;
    top: 0;
    padding: $space-3;
    padding-bottom: $space-4;
    box-shadow: 0 $space-2 $space-2 0 #EFEFEF;
    background-color: #EFEFEF;
    margin-bottom: $space-4;
    z-index: 1;

    input {

      width: calc(100% - 10px);
      font-family: 'Noto Sans', sans-serif;
      padding: $space-2 0 $space-2 $space-2;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid #C0C0C0;
      letter-spacing: $letter-space-1;
      font-size: $font-size-2;
    }

  }

  .user-list {

    font-size: $font-size-1;
    clear: both;
    min-height: 100px;
    list-style: none;
    padding-left: 0;

    a {

      text-decoration: none;
      position: relative;
      top: $space-2;
    }

    h2 {

      font-size: $font-size-2;
      color: #444444;
      margin: 0;
      position: relative;
      top: $space-2;

      small {

        font-size: $font-size-1;
        color: #888888;
      }
    }

    img {

      float: left;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-right: $space-4;
      border: 3px solid #C0C0C0;

    }
  }
}

@keyframes backgroundMove {

  from { background-position-x: 0; }
   to { background-position-x: -400px; }
}


@media(min-width: $size-sm) {

  .user-wrapper {

    .user-list {
      padding-left: 20px;
    }
  }

}

@media(min-width: $size-md) {

  .user-wrapper {

    margin-top: $space-6;
    width: 50%;
  }

}
