<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cyber-solutions</title>
  </head>
  <body>

    <script id="template-user" type="text/template">
      <li class="user-list">
        <img src="{{avatar_url}}"/>
        <h2>{{username}} <small>{{name}}</small></h2>
        <a href="{{web_url}}" target="_blank">{{web_url}}</a>
      </li>
    </script>

    <section class="user-wrapper">
      <header>
        <input type="text" class="search" placeholder="Search by username" />
      </header>
      <ul class="user-list"></ul>
    </section>

  </body>
</html>
